<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="false"
        tools:replace="android:allowBackup">
        <provider
            android:name=".ProcessDeathTestProbeProvider"
            android:authorities="${applicationId}.process-death-probe"
            android:exported="true" />
    </application>
</manifest>
